In [44]:
import pandas as pd

In [49]:
df = pd.read_csv('chat_messages.csv')

In [50]:
df

,group,name,username,id,message,date
0,Startup Community,Alex Kolomiets,alexplaning,211794354,Что за поток вопросов без интро?),2021-10-07 20:42:56+00:00
1,Startup Community,Andrii,shaposhn1k_a,461374968,Доброй ночи есть здесь спецы в пайтоне?),2021-10-07 20:42:20+00:00
2,Startup Community,I Am,Truefalsedecision,554068022,"Прям вот так, без буквы Т? )",2021-10-07 20:31:31+00:00
3,Startup Community,Alex,zdreny,61016306,Найдутся,2021-10-07 19:37:32+00:00
4,Startup Community,Макс,rayhatr3d,1676504766,есть тут разработчики на solidity и go?,2021-10-07 19:34:49+00:00
...,...,...,...,...,...,...
2995,Startup Community,Alex Kolomiets,alexplaning,211794354,"Андрей, досвидантя",2021-01-19 15:35:15+00:00
2996,Startup Community,M1o_ ГpqaHдés,NaN,550251314,"))), не осталось у нее времени",2021-01-19 13:08:35+00:00
2997,Startup Community,Alex Kolomiets,alexplaning,211794354,Уже ничего не хочет,2021-01-19 13:08:04+00:00
2998,Startup Community,Alex Kolomiets,alexplaning,211794354,/ban,2021-01-19 13:07:47+00:00
2999,Startup Community,M1o_ ГpqaHдés,NaN,550251314,"хотите сказать что у человека имеющего "" 5 биз...",2021-01-19 13:07:35+00:00

In [51]:
df = pd.read_csv('chat_users.csv')

In [52]:
df

                  group               name       username            id
0     Startup Community   Виталий Сероусов       serousov  4.418822e+07
1     Startup Community         Protectron  ProtectronBot  6.962674e+08
2     Startup Community      Рут Иштрякова     ishtrykova  1.975210e+09
3     Startup Community                 H7            NaN  2.019764e+09
4     Startup Community     Alex Kolomiets    alexplaning  2.117944e+08
...                 ...                ...            ...           ...
4839  Startup Community   Shawnda Lunsford      lunsford0  1.916326e+09
4840  Startup Community    Louis Rodriguez            NaN  1.921183e+09
4841  Startup Community               Mmhh            NaN  1.923898e+09
4842  Startup Community        Jacob Burke            NaN  1.924836e+09
4843  Startup Community  Raymond Robertson            NaN  1.927232e+09

[4844 rows x 4 columns]