In [1054]:
import os
import requests
import shutil
import re
import pandas as pd
from random import randrange
from datetime import datetime
import numpy as np

In [1055]:
codes = ['Extreme', 'Heavy', 'Serious', 'Light', 'Hardcore', 'Rated R', 'violent', 'Rated XXX', 'M/f', 'M/f+', 'M+/f', 'M+/f+', 'F/f', 'F/f+', 'F+/f', 'F+/f+', 'M/m', 'M/m+', 'M+/m', 'M+/m+', 'F/m', 'F/m+', 'F+/m', 'F+/m+', 'm-self', 'f-self', 'MF/f', 'M/mf', 'F/mf', 'MF/m', 'MF/mf', 'F+/fm', 'bestiality', 'cbt', 'enema', 'exhibition', 'fisting', 'incest', 'interracial', 'lactation', 'modification', 'Young', 'pregnant', 'scatology', 'size', 'snuff', 'spanking', 'teen', 'toys', 'transgender', 'transvestite', 'voyeurism', 'WaterSport', 'Swallowing', 'Tit Torture', 'D/s', 'B/D', 'S/M', 'BDSM', 'feet', 'hair', 'latex', 'slavery', 'lingerie', 'bondage', 'chastity', 'belt', 'Rape', 'bible', 'college', 'gothic', 'historical', 'HighSchool', 'job', 'real', 'ScFi', 'slow', 'spoof', 'Fantasy', 'documentary', 'On Line', 'romantic', 'consensual', 'reluctant', 'mc', 'humiliation', 'blackmail', 'torture', 'nc', 'Forced']

In [1056]:
gay_codes = ['M/m', 'M/m+', 'M+/m', 'M+/m+', 'm-self', 'M/mf', 'MF/m', 'MF/mf']

In [1057]:
male_dom_codes = ['M/f', 'M/f+', 'M+/f', 'M+/f+', 'MF/f']

In [1058]:
femdom_codes = ['F/f','F/f+','F+/f','F+/f+','F/m','F/m+','F+/m','F+/m+','MF/f','F/mf','F+/fm']

In [1059]:
male_femdom_codes = ['F/m','F/m+','F+/m','F+/m+','F/mf','F+/fm']

In [1060]:
set(codes) & set(femdom_codes)

{'F+/f',
 'F+/f+',
 'F+/fm',
 'F+/m',
 'F+/m+',
 'F/f',
 'F/f+',
 'F/m',
 'F/m+',
 'F/mf',
 'MF/f'}

In [1090]:
important_codes = ['slavery', 'nc']

In [1062]:
def delete_files(folder = 'stories'):
    shutil.rmtree(folder)
    os.makedirs(folder)

In [1063]:
delete_files()
delete_files('fav_stories')

In [1064]:
TAG_RE = re.compile(r'<[^>]+>')

def remove_tags(text):
    return TAG_RE.sub('', text)

In [1066]:
#delete_files('stories')

In [1067]:
def save_text(text, name, path):
    html_output_name = path+'/' + name
    with open(html_output_name, 'w') as f:
        f.write(text)
        f.close()

In [1068]:
def cleanhtml(raw_html):
    CLEANR = re.compile('<.*?>') 
    cleantext = re.sub(CLEANR, '', raw_html)
    cleantext = cleantext[cleantext.find('CDATA'):]
    cleantext = cleantext[cleantext.find('BDSM Library'):]
    cleantext = cleantext[:cleantext.find('AC_FL_RunContent')]
    cleantext = remove_tags(cleantext)
    return cleantext

In [1069]:
def save_story(story_id, folder = 'stories'):
    url1 = f'https://www.bdsmlibrary.com/stories/story.php?storyid={story_id}'
    url2 = f'https://www.bdsmlibrary.com/stories/wholestory.php?storyid={story_id}'
    req = requests.get(url2, 'html.parser')
    
    text = cleanhtml(req.text)
    
    save_text(text, 'story' + str(story_id)+'.txt', folder)

In [1070]:
fav_story_ids = [3160, 5357, 496, 10501, 9171, 491, 1241, 851, 10344, 24, 886]
#3160 Cheerleaders' Rape and Torture
#5357 From Society Girl To Slave
#496 Dear Diary
#10501 Sara the Puppy Girl
#9171 Lesbian Slave Auction II: Return to Stonebriar
#491 Stacy's Senior Year 
#1241 Two for Torment
#851 Teacher's Ransom
#10344 European Nightmare
#24 Captured Caroline
#886 Lady Jane Greystone's Remarkable Experiment

In [1071]:
important_codes = ['slavery']

In [1072]:
for i in fav_story_ids:
    save_story(i)

In [1073]:
def clean_codes(line):
    line = line.replace(' ', '').replace('\n', '')
    line = line[line.find(':')+1:]
    CLEANR = re.compile('<.*?>') 
    cleantext = re.sub(CLEANR, ' ', line)
    return cleantext.split()

In [1074]:
def full_id(id):
    return '0'*(5-len(str(id)))+str(id)
full_id(34)

'00034'

In [1121]:
class Story():
    def __init__(self, id):
        self.id = id
        url1 = f'https://www.bdsmlibrary.com/stories/story.php?storyid={self.id}'
        page1 = requests.get(url1, 'html.parser').text
        
        url2 = f'https://www.bdsmlibrary.com/stories/wholestory.php?storyid={self.id}'
        self.link = url2
        url2_text = requests.get(url2, 'html.parser').text
        self.title = url2_text[url2_text.find('title')+21:url2_text.find('</titl')]
        self.content = cleanhtml(url2_text)
        self.length = len(self.content)
        if len(self.title) > 200:
            return None       
        rating_text = page1[page1.find('/10,')-10:page1.find('/10,')+20]
        self.votes = int(rating_text[rating_text.find(',')+2:rating_text.find('votes')-1])
        self.rating = float(rating_text[rating_text.find('(')+1:rating_text.find('/')])
        self.total_readers = page1[page1.find('Total')+6:page1.find('readers')-1]
        k = page1.find('stories/author.php?authorid=')+28
        self.author_id = page1[k:page1.find('">', k)]
        self.author = page1[page1.find('>',k)+1:page1.find('<',k)]
        added_on = page1[page1.find('Added on')+14:page1.find('</', page1.find('Added on')+14)]
        self.added_on = added_on
        
        self.story_codes = clean_codes(page1[page1.find('Story Codes'):page1.find('Synopsis',page1.find('Story Codes')+1)])
        self.synopsis = page1[page1.find('Synopsis:')+14:page1.find('\n',page1.find('Synopsis:')+14)].strip()
        for code in important_codes:
            setattr(self, code, code in self.story_codes)
        self.gay = len(set(self.story_codes) & set(gay_codes)) > 0
        self.femdom = len(set(self.story_codes) & set(femdom_codes)) > 0
        self.male_dom = len(set(self.story_codes) & set(male_dom_codes)) > 0
        self.only_femdom = self.femdom & (self.male_dom == 0) & (self.gay == 0)
        
    def save(self, folder = 'stories'):
        save_text(self.content, full_id(self.id)+' ' + self.title.replace('/', ' ')+'.txt', folder)
        print(f'story {self.id} saved')

In [1124]:
s = Story(3000)

In [1125]:
s.synopsis

"The school faculty have had it with Tami's antics, each teacher taking revenge for the girl's disobedience...each in their own special way."

In [1112]:
len('Synopsis:</b>\n')

14

In [1078]:
s.only_femdom

False

In [1079]:
set(s.story_codes)

{'D/s', 'Light', 'MF/f', 'nc', 'reluctant', 'slavery'}

In [1080]:
set(femdom_codes)

{'F+/f',
 'F+/f+',
 'F+/fm',
 'F+/m',
 'F+/m+',
 'F/f',
 'F/f+',
 'F/m',
 'F/m+',
 'F/mf',
 'MF/f'}

In [1081]:
len(set(s.story_codes) & set(femdom_codes))

1

In [1132]:
def save_stories(ids_list= np.arange(10060,11000,1), folder_name = 'stories', delete = False):
    if delete == True:
        # начинаем с 0
        delete_files(folder_name)
        d = {'story_id': [], 'story_name': [], 'synopsis': [], 'length': [], 'rating':[],'n_votes':[],'total_readers':[],'author_id':[],'author':[],'added_on':[], 'codes':[]}
        for code in important_codes:
            d[code] = []
        df = pd.DataFrame(d)
        df.to_csv(folder_name+'.csv', index=False)
    else:
        df = pd.read_csv(folder_name+'.csv')
    i = 0    
    while i < len(ids_list):
        story_id = ids_list[i]
        
        saved_stories = list(pd.Series(os.listdir(folder_name)).apply(lambda x: x[0:5]))
        if full_id(story_id) in saved_stories:
            i+=1
            continue
        
        
        s = Story(story_id)
        i +=1
        if len(s.title) < 200:
            l = [s.id, s.title, s.synopsis, s.length, s.rating, s.votes, s.total_readers, s.author_id, s.author, s.added_on, str(s.story_codes)]
            df.loc[df.shape[0]] = l+[getattr(s, code) for code in important_codes]
            s.save(folder_name)
            df.to_csv(folder_name+'.csv', index=False)

In [1133]:
save_stories(delete = False)

story 10070 saved
story 10071 saved
story 10072 saved
story 10073 saved
story 10074 saved
story 10075 saved
story 10076 saved
story 10077 saved
story 10078 saved
story 10079 saved
story 10080 saved
story 10081 saved
story 10082 saved
story 10083 saved
story 10084 saved
story 10085 saved
story 10086 saved
story 10087 saved
story 10088 saved
story 10089 saved
story 10090 saved
story 10091 saved
story 10092 saved
story 10093 saved
story 10094 saved
story 10095 saved
story 10096 saved
story 10097 saved
story 10098 saved
story 10099 saved
story 10100 saved
story 10101 saved
story 10102 saved
story 10103 saved
story 10104 saved
story 10105 saved
story 10106 saved
story 10107 saved
story 10108 saved
story 10109 saved
story 10110 saved
story 10111 saved
story 10112 saved
story 10113 saved
story 10114 saved
story 10115 saved
story 10116 saved
story 10117 saved
story 10118 saved
story 10119 saved
story 10120 saved
story 10121 saved
story 10122 saved
story 10123 saved
story 10124 saved
story 10125 saved
story 10126 saved
story 10127 saved
story 10128 saved
story 10129 saved
story 10130 saved
story 10131 saved
story 10132 saved
story 10133 saved
story 10134 saved
story 10135 saved
story 10136 saved
story 10137 saved
story 10138 saved
story 10139 saved
story 10140 saved
story 10141 saved
story 10142 saved
story 10143 saved
story 10144 saved
story 10145 saved
story 10146 saved
story 10147 saved
story 10148 saved
story 10149 saved
story 10150 saved
story 10151 saved
story 10152 saved
story 10153 saved
story 10154 saved
story 10155 saved
story 10156 saved
story 10157 saved
story 10158 saved
story 10159 saved
story 10160 saved
story 10161 saved
story 10162 saved
story 10163 saved
story 10164 saved
story 10165 saved
story 10166 saved
story 10167 saved
story 10168 saved
story 10169 saved
story 10170 saved
story 10171 saved
story 10172 saved
story 10173 saved
story 10174 saved
story 10175 saved
story 10176 saved
story 10177 saved
story 10178 saved
story 10179 saved
story 10180 saved
story 10181 saved
story 10182 saved
story 10183 saved
story 10184 saved
story 10185 saved
story 10186 saved
story 10187 saved
story 10188 saved
story 10189 saved
story 10190 saved
story 10192 saved
story 10193 saved
story 10194 saved
story 10195 saved
story 10196 saved
story 10197 saved
story 10198 saved
story 10199 saved
story 10200 saved
story 10201 saved
story 10202 saved
story 10203 saved
story 10204 saved
story 10205 saved
story 10206 saved
story 10207 saved
story 10208 saved
story 10209 saved
story 10210 saved
story 10211 saved
story 10212 saved
story 10213 saved
story 10214 saved
story 10215 saved
story 10216 saved
story 10218 saved
story 10219 saved
story 10220 saved
story 10221 saved
story 10222 saved
story 10223 saved
story 10224 saved
story 10225 saved
story 10226 saved
story 10227 saved
story 10228 saved
story 10229 saved
story 10230 saved
story 10231 saved
story 10232 saved
story 10233 saved
story 10234 saved
story 10235 saved
story 10236 saved
story 10237 saved
story 10238 saved
story 10239 saved
story 10240 saved
story 10241 saved
story 10242 saved
story 10243 saved
story 10244 saved
story 10245 saved
story 10246 saved
story 10247 saved
story 10248 saved
story 10249 saved
story 10250 saved
story 10251 saved
story 10252 saved
story 10253 saved
story 10254 saved
story 10255 saved
story 10256 saved
story 10257 saved
story 10258 saved
story 10259 saved
story 10260 saved
story 10261 saved
story 10262 saved
story 10263 saved
story 10264 saved
story 10265 saved
story 10266 saved
story 10267 saved
story 10268 saved
story 10269 saved
story 10270 saved
story 10271 saved
story 10272 saved
story 10273 saved
story 10274 saved
story 10275 saved
story 10276 saved
story 10277 saved
story 10278 saved
story 10279 saved
story 10280 saved
story 10281 saved
story 10282 saved
story 10283 saved
story 10284 saved
story 10285 saved
story 10286 saved
story 10287 saved
story 10288 saved
story 10289 saved
story 10290 saved
story 10291 saved
story 10292 saved
story 10293 saved
story 10294 saved
story 10295 saved
story 10296 saved
story 10297 saved
story 10298 saved
story 10299 saved
story 10300 saved
story 10301 saved
story 10302 saved
story 10303 saved
story 10304 saved
story 10305 saved
story 10306 saved
story 10307 saved
story 10308 saved
story 10309 saved
story 10310 saved
story 10311 saved
story 10312 saved
story 10313 saved
story 10314 saved
story 10315 saved
story 10316 saved
story 10317 saved
story 10318 saved
story 10319 saved
story 10320 saved
story 10321 saved
story 10322 saved
story 10323 saved
story 10324 saved
story 10325 saved
story 10326 saved
story 10327 saved
story 10328 saved
story 10329 saved
story 10330 saved
story 10331 saved
story 10332 saved
story 10333 saved
story 10334 saved
story 10335 saved
story 10336 saved
story 10337 saved
story 10338 saved
story 10339 saved
story 10340 saved
story 10341 saved
story 10342 saved
story 10343 saved
story 10344 saved
story 10345 saved
story 10346 saved
story 10347 saved
story 10348 saved
story 10349 saved
story 10350 saved
story 10351 saved
story 10352 saved
story 10353 saved
story 10354 saved
story 10355 saved
story 10356 saved
story 10357 saved
story 10358 saved
story 10359 saved
story 10360 saved
story 10361 saved
story 10362 saved
story 10363 saved
story 10364 saved
story 10365 saved
story 10366 saved
story 10367 saved
story 10368 saved
story 10369 saved
story 10370 saved
story 10371 saved
story 10372 saved
story 10373 saved
story 10374 saved
story 10375 saved
story 10376 saved
story 10377 saved
story 10378 saved
story 10379 saved
story 10380 saved
story 10381 saved
story 10382 saved
story 10383 saved
story 10384 saved
story 10385 saved
story 10386 saved
story 10387 saved
story 10388 saved
story 10389 saved
story 10390 saved
story 10391 saved
story 10392 saved
story 10393 saved
story 10394 saved
story 10395 saved
story 10396 saved
story 10397 saved
story 10398 saved
story 10399 saved
story 10400 saved
story 10401 saved
story 10402 saved
story 10403 saved
story 10404 saved
story 10405 saved
story 10406 saved
story 10407 saved
story 10408 saved
story 10409 saved
story 10410 saved
story 10411 saved
story 10412 saved
story 10413 saved
story 10414 saved
story 10415 saved
story 10416 saved
story 10417 saved
story 10418 saved
story 10419 saved
story 10420 saved
story 10421 saved
story 10422 saved
story 10423 saved
story 10424 saved
story 10425 saved
story 10426 saved
story 10427 saved
story 10428 saved
story 10429 saved
story 10430 saved
story 10431 saved
story 10432 saved
story 10433 saved
story 10434 saved
story 10435 saved
story 10436 saved
story 10437 saved
story 10438 saved
story 10439 saved
story 10440 saved
story 10441 saved
story 10442 saved
story 10443 saved
story 10444 saved
story 10445 saved
story 10446 saved
story 10447 saved
story 10448 saved
story 10449 saved
story 10450 saved
story 10451 saved
story 10452 saved
story 10453 saved
story 10454 saved
story 10455 saved
story 10456 saved
story 10457 saved
story 10458 saved
story 10459 saved
story 10460 saved
story 10461 saved
story 10462 saved
story 10463 saved
story 10464 saved
story 10465 saved
story 10466 saved
story 10467 saved
story 10468 saved
story 10469 saved
story 10470 saved
story 10471 saved
story 10472 saved
story 10473 saved
story 10474 saved
story 10475 saved
story 10476 saved
story 10477 saved
story 10478 saved
story 10479 saved
story 10480 saved
story 10481 saved
story 10482 saved
story 10483 saved
story 10484 saved
story 10485 saved
story 10486 saved
story 10487 saved
story 10488 saved
story 10489 saved
story 10490 saved
story 10491 saved
story 10492 saved
story 10493 saved
story 10494 saved
story 10495 saved
story 10496 saved
story 10497 saved
story 10498 saved
story 10499 saved
story 10500 saved
story 10501 saved
story 10502 saved
story 10503 saved
story 10504 saved
story 10505 saved
story 10506 saved
story 10507 saved
story 10508 saved
story 10509 saved
story 10510 saved
story 10511 saved
story 10512 saved
story 10513 saved
story 10514 saved
story 10515 saved
story 10516 saved
story 10517 saved
story 10518 saved
story 10519 saved
story 10520 saved
story 10521 saved
story 10522 saved
story 10523 saved
story 10524 saved
story 10525 saved
story 10526 saved
story 10527 saved

story 10528 saved
story 10529 saved
story 10530 saved
story 10531 saved
story 10532 saved
story 10533 saved
story 10534 saved
story 10535 saved
story 10536 saved
story 10537 saved
story 10538 saved
story 10539 saved
story 10540 saved
story 10541 saved
story 10542 saved
story 10543 saved
story 10544 saved
story 10545 saved
story 10546 saved
story 10547 saved
story 10548 saved
story 10549 saved
story 10550 saved
story 10551 saved
story 10552 saved
story 10553 saved
story 10554 saved
story 10555 saved
story 10556 saved
story 10557 saved
story 10558 saved
story 10559 saved
story 10560 saved
story 10561 saved
story 10562 saved
story 10563 saved
story 10564 saved
story 10565 saved
story 10566 saved
story 10567 saved
story 10568 saved
story 10569 saved
story 10570 saved
story 10571 saved
story 10572 saved
story 10573 saved
story 10574 saved
story 10575 saved
story 10576 saved
story 10577 saved
story 10578 saved
story 10579 saved
story 10580 saved
story 10581 saved
story 10582 saved
story 10583 saved
story 10584 saved
story 10585 saved
story 10586 saved
story 10587 saved
story 10588 saved
story 10589 saved
story 10590 saved
story 10591 saved
story 10592 saved
story 10593 saved
story 10594 saved
story 10595 saved
story 10596 saved
story 10597 saved
story 10598 saved
story 10599 saved
story 10600 saved
story 10601 saved
story 10602 saved
story 10603 saved
story 10604 saved
story 10605 saved
story 10606 saved
story 10607 saved
story 10608 saved
story 10609 saved
story 10610 saved
story 10611 saved
story 10612 saved
story 10613 saved
story 10614 saved
story 10615 saved
story 10616 saved
story 10617 saved
story 10618 saved
story 10619 saved
story 10620 saved
story 10621 saved
story 10622 saved
story 10623 saved
story 10624 saved
story 10625 saved
story 10626 saved
story 10627 saved
story 10628 saved
story 10629 saved
story 10630 saved
story 10631 saved
story 10632 saved
story 10633 saved
story 10634 saved
story 10635 saved
story 10636 saved
story 10637 saved
story 10638 saved
story 10639 saved
story 10640 saved
story 10641 saved
story 10642 saved
story 10643 saved
story 10644 saved
story 10645 saved
story 10646 saved
story 10647 saved
story 10648 saved
story 10649 saved
story 10650 saved
story 10651 saved
story 10652 saved
story 10653 saved
story 10654 saved
story 10655 saved
story 10656 saved
story 10657 saved
story 10658 saved
story 10659 saved
story 10660 saved
story 10661 saved
story 10662 saved
story 10663 saved
story 10664 saved
story 10665 saved
story 10666 saved
story 10667 saved
story 10668 saved
story 10669 saved
story 10670 saved
story 10671 saved
story 10672 saved
story 10673 saved
story 10674 saved
story 10675 saved
story 10676 saved
story 10677 saved
story 10678 saved
story 10679 saved
story 10680 saved
story 10681 saved
story 10682 saved
story 10683 saved
story 10684 saved
story 10685 saved
story 10686 saved
story 10687 saved
story 10688 saved
story 10689 saved
story 10690 saved
story 10691 saved
story 10692 saved
story 10693 saved
story 10694 saved
story 10695 saved
story 10696 saved
story 10697 saved
story 10698 saved
story 10699 saved
story 10700 saved
story 10701 saved
story 10702 saved
story 10703 saved
story 10704 saved
story 10705 saved
story 10706 saved
story 10707 saved
story 10708 saved
story 10709 saved
story 10710 saved
story 10711 saved
story 10712 saved
story 10713 saved
story 10714 saved
story 10715 saved
story 10716 saved
story 10717 saved
story 10718 saved
story 10719 saved
story 10720 saved
story 10721 saved
story 10722 saved
story 10723 saved
story 10724 saved
story 10725 saved
story 10726 saved
story 10727 saved
story 10728 saved
story 10729 saved
story 10730 saved
story 10731 saved
story 10732 saved
story 10733 saved
story 10734 saved
story 10735 saved
story 10736 saved
story 10737 saved
story 10738 saved
story 10739 saved
story 10740 saved
story 10741 saved
story 10742 saved
story 10743 saved
story 10744 saved
story 10745 saved
story 10746 saved
story 10747 saved
story 10748 saved
story 10749 saved
story 10750 saved
story 10751 saved
story 10752 saved
story 10753 saved
story 10754 saved
story 10755 saved
story 10756 saved
story 10757 saved
story 10758 saved
story 10759 saved
story 10760 saved
story 10761 saved
story 10762 saved
story 10763 saved
story 10764 saved
story 10765 saved
story 10766 saved
story 10767 saved
story 10768 saved
story 10769 saved
story 10770 saved
story 10771 saved
story 10772 saved
story 10773 saved
story 10774 saved
story 10775 saved
story 10776 saved
story 10777 saved
story 10778 saved
story 10779 saved
story 10780 saved
story 10781 saved
story 10782 saved
story 10783 saved
story 10784 saved
story 10785 saved
story 10786 saved
story 10787 saved
story 10788 saved
story 10789 saved
story 10790 saved
story 10791 saved
story 10792 saved
story 10793 saved
story 10794 saved
story 10795 saved
story 10796 saved
story 10797 saved
story 10798 saved
story 10799 saved
story 10800 saved
story 10801 saved
story 10802 saved
story 10803 saved
story 10804 saved
story 10805 saved
story 10806 saved
story 10807 saved
story 10808 saved
story 10809 saved
story 10810 saved
story 10811 saved
story 10812 saved
story 10813 saved
story 10814 saved
story 10815 saved
story 10816 saved
story 10817 saved
story 10818 saved
story 10819 saved
story 10820 saved
story 10821 saved
story 10822 saved
story 10823 saved
story 10824 saved
story 10825 saved
story 10826 saved
story 10827 saved
story 10828 saved
story 10829 saved
story 10830 saved
story 10831 saved
story 10832 saved
story 10833 saved
story 10834 saved
story 10835 saved
story 10836 saved
story 10837 saved
story 10838 saved
story 10839 saved
story 10840 saved
story 10841 saved
story 10842 saved
story 10843 saved
story 10844 saved
story 10845 saved
story 10846 saved
story 10848 saved
story 10849 saved
story 10850 saved
story 10851 saved
story 10852 saved
story 10853 saved
story 10854 saved
story 10855 saved
story 10856 saved
story 10857 saved
story 10858 saved
story 10859 saved
story 10860 saved
story 10861 saved
story 10862 saved
story 10863 saved
story 10864 saved
story 10865 saved
story 10866 saved
story 10867 saved
story 10868 saved
story 10869 saved
story 10870 saved
story 10871 saved
story 10872 saved
story 10873 saved
story 10874 saved
story 10875 saved
story 10876 saved
story 10877 saved
story 10878 saved
story 10879 saved
story 10880 saved
story 10881 saved
story 10882 saved
story 10883 saved
story 10884 saved
story 10885 saved
story 10886 saved
story 10887 saved
story 10888 saved
story 10889 saved
story 10890 saved
story 10891 saved
story 10892 saved
story 10893 saved
story 10894 saved
story 10895 saved
story 10896 saved
story 10897 saved
story 10898 saved
story 10899 saved
story 10900 saved
story 10901 saved
story 10902 saved
story 10903 saved
story 10904 saved
story 10905 saved
story 10906 saved
story 10907 saved
story 10908 saved
story 10909 saved
story 10910 saved
story 10911 saved
story 10912 saved
story 10913 saved
story 10914 saved
story 10915 saved
story 10916 saved
story 10917 saved
story 10918 saved
story 10919 saved
story 10920 saved
story 10921 saved
story 10922 saved
story 10923 saved
story 10924 saved
story 10925 saved
story 10926 saved
story 10927 saved
story 10928 saved
story 10929 saved
story 10930 saved
story 10931 saved
story 10932 saved
story 10933 saved
story 10934 saved
story 10935 saved
story 10936 saved
story 10937 saved
story 10938 saved
story 10939 saved
story 10940 saved
story 10941 saved
story 10942 saved
story 10943 saved
story 10944 saved
story 10945 saved
story 10946 saved
story 10947 saved
story 10948 saved
story 10949 saved
story 10950 saved
story 10951 saved
story 10952 saved
story 10953 saved
story 10954 saved
story 10955 saved
story 10956 saved
story 10957 saved
story 10958 saved
story 10959 saved
story 10960 saved
story 10961 saved
story 10962 saved
story 10963 saved
story 10964 saved
story 10965 saved
story 10966 saved
story 10967 saved
story 10968 saved
story 10969 saved
story 10970 saved
story 10971 saved
story 10972 saved
story 10973 saved
story 10974 saved
story 10975 saved
story 10976 saved
story 10977 saved
story 10978 saved
story 10979 saved
story 10980 saved
story 10981 saved
story 10982 saved
story 10983 saved
story 10984 saved

story 10985 saved
story 10986 saved
story 10987 saved
story 10988 saved
story 10989 saved
story 10990 saved
story 10991 saved
story 10992 saved
story 10993 saved
story 10994 saved

In [1129]:
df = pd.read_csv('stories.csv')

In [1130]:
df

,story_id,story_name,synopsis,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc
0,1.0,Adventures In Rubber,"Let's talk about your fetish of rubber, high h...",305611.0,9.0,7.0,90742,117,"Bill ""Gomez"" Lemieux","Jun 25, 2000","['M/f', 'B/D', 'latex', 'Serious']",0.0,0.0
1,2.0,Pooch's Story,The miserable slave was punished by her master...,497310.0,8.0,15.0,143848,2,Mr. Ed,"Jun 27, 2000","['M/f', 'F/f', 'scatology', 'B/D', 'S/M', 'tor...",0.0,0.0
2,3.0,Owned Teacher,A female teacher was controlled by her student...,438448.0,9.0,102.0,769300,3,thumb,"Jun 27, 2000","['F/f', 'slavery', 'lingerie', 'humiliation', ...",1.0,0.0
3,4.0,The Sarcophagus,She was sexually tortured and forced to reach ...,170678.0,9.0,22.0,123959,4,JG Leathers,"Jun 29, 2000","['M/f', 'bondage', 'Serious']",0.0,0.0

In [1096]:
df

,story_id,story_name,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc
0,1.0,Adventures In Rubber,305611.0,9.0,7.0,90741,117,"Bill ""Gomez"" Lemieux","Jun 25, 2000","['M/f', 'B/D', 'latex', 'Serious']",0.0,0.0
1,2.0,Pooch's Story,497310.0,8.0,15.0,143847,2,Mr. Ed,"Jun 27, 2000","['M/f', 'F/f', 'scatology', 'B/D', 'S/M', 'tor...",0.0,0.0
2,3.0,Owned Teacher,438448.0,9.0,102.0,769296,3,thumb,"Jun 27, 2000","['F/f', 'slavery', 'lingerie', 'humiliation', ...",1.0,0.0
3,4.0,The Sarcophagus,170678.0,9.0,22.0,123958,4,JG Leathers,"Jun 29, 2000","['M/f', 'bondage', 'Serious']",0.0,0.0
4,5.0,White victim,130401.0,9.5,8.0,93906,5,Allene Blake,"Jun 29, 2000","['M/f', 'F/f', 'F+/f', 'B/D', 'nc', 'Serious']",0.0,1.0
5,6.0,Diane,152608.0,7.0,6.0,159462,6,SD,"Jun 29, 2000","['F/f', 'WaterSport', 'slavery', 'bondage', 'h...",1.0,1.0

In [1038]:
def str_to_list(s):
    return s.replace('[', '').replace(']', '').replace(',', '').replace("'", '').split()

In [1042]:
str_to_list(df.codes[21])

['M/f', 'F/f', 'S/M', 'humiliation', 'Serious']

In [1046]:
df['femdom_male'] = ~df.gay.apply(bool)&df.femdom.apply(bool) & df.codes.apply(lambda x: len(set(str_to_list(x))&set(male_femdom_codes))>0)

In [1053]:
df[df.femdom_male][df.nc == 1].sort_values(by = 'n_votes', ascending = False).head(20)

/var/folders/1_/mhjdmxtx6kl7blgbrm54g4zr0000gn/T/ipykernel_15247/944822470.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.femdom_male][df.nc == 1].sort_values(by = 'n_votes', ascending = False).head(20)

,story_id,story_name,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc,femdom,gay,male_dom,only_femdom,femdom_male
3116,3178.0,The Femina Empire,199172.0,7.0,20.0,133143,1269.0,Pluto,"Feb 1, 2005","['F/m', 'F+/m+', 'exhibition', 'slavery', 'bon...",1.0,1.0,1.0,0.0,0.0,1.0,True
1375,1411.0,Gentle Steps to Complete Domination,102048.0,9.0,18.0,152264,606.0,Andrew Devine,"Dec 30, 2002","['F/m', 'cbt', 'enema', 'exhibition', 'spankin...",0.0,1.0,1.0,0.0,0.0,1.0,True
456,466.0,The Prisoner,2101932.0,9.5,15.0,639270,236.0,Will Cane,"Aug 20, 2001","['F+/f+', 'F+/m', 'cbt', 'exhibition', 'spanki...",0.0,1.0,1.0,0.0,0.0,1.0,True
1383,1419.0,A Game of Torture,51408.0,8.0,14.0,76173,567.0,BDSM Bill,"Jan 4, 2003","['F+/m', 'MF/f', 'cbt', 'spanking', 'BDSM', 'r...",0.0,1.0,1.0,0.0,1.0,0.0,True
1485,1525.0,The Best Laid Plans,551636.0,8.0,13.0,340534,581.0,Lex Ludite,"Mar 7, 2003","['M/f', 'M+/f', 'M+/f+', 'F/f', 'F+/f', 'F+/m'...",0.0,1.0,1.0,0.0,1.0,0.0,True
666,682.0,Sunder,533269.0,9.5,12.0,117657,30.0,Unknown,"Jan 16, 2002","['M/f', 'F/f', 'F+/f', 'F+/f+', 'F/m', 'f-self...",1.0,1.0,1.0,0.0,1.0,0.0,True
2902,2963.0,The Stepford Husbands,57603.0,9.5,11.0,69710,306.0,Jane Marwood,"Nov 14, 2004","['F+/m', 'F+/m+', 'enema', 'exhibition', 'Youn...",0.0,1.0,1.0,0.0,0.0,1.0,True
2308,2364.0,Mom's Mistake,532453.0,7.5,11.0,446650,973.0,Jethro Jodhpur,"Mar 18, 2004","['M/f', 'M+/f', 'F+/f', 'F/m', 'MF/f', 'bestia...",0.0,1.0,1.0,0.0,1.0,0.0,True
859,884.0,A Modern Human Dairy and Meat Farm,64372.0,3.5,11.0,83559,406.0,Pick Up Man,"Apr 16, 2002","['M/f', 'F/f', 'F+/f', 'F+/m', 'cbt', 'exhibit...",1.0,1.0,1.0,0.0,1.0,0.0,True
2998,3060.0,Dexter Chronicles,386296.0,9.0,10.0,153876,1221.0,Mysty Mason,"Dec 18, 2004","['F/m', 'incest', 'reluctant', 'nc', 'Heavy']",0.0,1.0,1.0,0.0,0.0,1.0,True
1329,1365.0,The Art Of Escape,50091.0,9.0,10.0,38483,590.0,Tyjord,"Dec 7, 2002","['F/m', 'enema', 'WaterSport', 'B/D', 'S/M', '...",0.0,1.0,1.0,0.0,0.0,1.0,True
697,715.0,Dr. Benson's Office,56353.0,7.5,10.0,83865,340.0,redleg112,"Jan 30, 2002","['F/m', 'chastitybelt', 'nc', 'Light']",0.0,1.0,1.0,0.0,0.0,1.0,True
1073,1107.0,Humiliation Angels,57761.0,8.5,10.0,81284,494.0,fireball,"Jul 28, 2002","['F/m', 'F+/m', 'cbt', 'exhibition', 'spanking...",1.0,1.0,1.0,0.0,0.0,1.0,True
2973,3034.0,The Pet,25641.0,9.0,9.0,53490,1212.0,Moonbeam,"Dec 11, 2004","['F/f+', 'F+/m', 'cbt', 'enema', 'fisting', 'm...",1.0,1.0,1.0,0.0,0.0,1.0,True
1939,1987.0,Christopher's Predicament,58959.0,9.0,9.0,54889,590.0,Tyjord,"Oct 7, 2003","['F+/m', 'enema', 'WaterSport', 'BDSM', 'bonda...",0.0,1.0,1.0,0.0,0.0,1.0,True
2565,2623.0,2nn,153885.0,8.5,8.0,173107,920.0,2nn,"Jun 19, 2004","['F/f+', 'F/m', 'cbt', 'enema', 'transgender',...",1.0,1.0,1.0,0.0,0.0,1.0,True
1267,1303.0,Surprise Visit,29855.0,9.0,7.0,55825,567.0,BDSM Bill,"Nov 8, 2002","['M/f', 'F/f', 'F/m', 'cbt', 'spanking', 'toys...",0.0,1.0,1.0,0.0,1.0,0.0,True
1977,2028.0,Summer in Paradise,330954.0,8.5,7.0,103877,709.0,Fox,"Oct 25, 2003","['M/f', 'M/f+', 'F/f', 'F/f+', 'F/m', 'F/m+', ...",1.0,1.0,1.0,0.0,1.0,0.0,True
2716,2776.0,Teenage Sex Slave,399041.0,7.5,7.0,307306,973.0,Jethro Jodhpur,"Aug 18, 2004","['F/m', 'F+/m', 'F/mf', 'bestiality', 'enema',...",0.0,1.0,1.0,0.0,0.0,1.0,True
2190,2246.0,Susan,19409.0,6.0,7.0,44571,932.0,arobert29,"Feb 6, 2004","['F+/f+', 'F+/m', 'enema', 'S/M', 'BDSM', 'sla...",1.0,1.0,1.0,0.0,0.0,1.0,True

In [1004]:
def filter_stories(df):
    data = df[df.rating >= 9]
    data = data[data.gay == 0]
    data = data[data.n_votes >=3]
    data = data[data.nc + data.slavery >=1]
    return data

In [1005]:
data = filter_stories(df)

In [1016]:
data.head()

,story_id,story_name,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc,femdom,gay,male_dom,only_femdom
2,3.0,Owned Teacher,438448.0,9.0,102.0,769048,3.0,thumb,"Jun 27, 2000","['F/f', 'slavery', 'lingerie', 'humiliation', ...",1.0,0.0,1.0,0.0,0.0,1.0
4,5.0,White victim,130401.0,9.5,8.0,93871,5.0,Allene Blake,"Jun 29, 2000","['M/f', 'F/f', 'F+/f', 'B/D', 'nc', 'Serious']",0.0,1.0,1.0,0.0,1.0,0.0
12,13.0,Janet in Training,703802.0,9.5,25.0,116688,14.0,sfmaster,"Jun 30, 2000","['F/f', 'B/D', 'S/M', 'slavery', 'consensual',...",1.0,0.0,1.0,0.0,0.0,1.0
13,14.0,The Challenge,783036.0,9.5,17.0,119177,14.0,sfmaster,"Jun 30, 2000","['F/f', 'F/mf', 'B/D', 'S/M', 'slavery', 'cons...",1.0,0.0,1.0,0.0,0.0,1.0
18,19.0,Lynne,1328585.0,9.0,44.0,359758,16.0,Just Another Bloke,"Jun 30, 2000","['M/f', 'F/f', 'B/D', 'S/M', 'slavery', 'bonda...",1.0,0.0,1.0,0.0,1.0,0.0

In [976]:
df[df.rating >= 8]

,story_id,story_name,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc,femdom,gay,male_dom,only_femdom
0,1.0,Adventures In Rubber,305611.0,9.0,7.0,90689,117,"Bill ""Gomez"" Lemieux","Jun 25, 2000","['M/f', 'B/D', 'latex', 'Serious']",0.0,0.0,0.0,0.0,1.0,0.0
1,2.0,Pooch's Story,497310.0,8.0,15.0,143780,2,Mr. Ed,"Jun 27, 2000","['M/f', 'F/f', 'scatology', 'B/D', 'S/M', 'tor...",0.0,0.0,1.0,0.0,1.0,0.0
2,3.0,Owned Teacher,438448.0,9.0,102.0,769048,3,thumb,"Jun 27, 2000","['F/f', 'slavery', 'lingerie', 'humiliation', ...",1.0,0.0,1.0,0.0,0.0,1.0
3,4.0,The Sarcophagus,170678.0,9.0,22.0,123903,4,JG Leathers,"Jun 29, 2000","['M/f', 'bondage', 'Serious']",0.0,0.0,0.0,0.0,1.0,0.0
4,5.0,White victim,130401.0,9.5,8.0,93871,5,Allene Blake,"Jun 29, 2000","['M/f', 'F/f', 'F+/f', 'B/D', 'nc', 'Serious']",0.0,1.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1906,1953.0,Changing Hands,32551.0,9.5,4.0,9280,816,Fidelis Blue,"Sep 20, 2003","['M+/f', 'B/D', 'real', 'consensual', 'Light']",0.0,0.0,0.0,0.0,1.0,0.0
1907,1954.0,Raping Trisha,66926.0,8.5,8.0,93132,831,Alebeard,"Sep 20, 2003","['M/f+', 'spanking', 'teen', 'S/M', 'humiliati...",0.0,1.0,0.0,0.0,1.0,0.0
1908,1955.0,The Novice Master,15597.0,9.0,3.0,12167,816,Fidelis Blue,"Sep 24, 2003","['M+/f', 'spanking', 'B/D', 'bondage', 'real',...",0.0,0.0,0.0,0.0,1.0,0.0
1909,1956.0,A Proper Lesson,17226.0,9.5,2.0,14841,816,Fidelis Blue,"Sep 24, 2003","['M/f', 'spanking', 'D/s', 'consensual', 'Seri...",0.0,0.0,0.0,0.0,1.0,0.0
1910,1957.0,Bitch Mother,36921.0,8.5,7.0,81592,300,Brenda,"Sep 24, 2003","['F/f+', 'incest', 'scatology', 'spanking', 'W...",0.0,0.0,1.0,0.0,0.0,1.0

In [992]:
df[df.rating >=9][df.n_votes >=3]

/var/folders/1_/mhjdmxtx6kl7blgbrm54g4zr0000gn/T/ipykernel_15247/3244950602.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.rating >=9][df.n_votes >=3]

,story_id,story_name,length,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc,femdom,gay,male_dom,only_femdom
0,1.0,Adventures In Rubber,305611.0,9.0,7.0,90689,117,"Bill ""Gomez"" Lemieux","Jun 25, 2000","['M/f', 'B/D', 'latex', 'Serious']",0.0,0.0,0.0,0.0,1.0,0.0
2,3.0,Owned Teacher,438448.0,9.0,102.0,769048,3,thumb,"Jun 27, 2000","['F/f', 'slavery', 'lingerie', 'humiliation', ...",1.0,0.0,1.0,0.0,0.0,1.0
3,4.0,The Sarcophagus,170678.0,9.0,22.0,123903,4,JG Leathers,"Jun 29, 2000","['M/f', 'bondage', 'Serious']",0.0,0.0,0.0,0.0,1.0,0.0
4,5.0,White victim,130401.0,9.5,8.0,93871,5,Allene Blake,"Jun 29, 2000","['M/f', 'F/f', 'F+/f', 'B/D', 'nc', 'Serious']",0.0,1.0,1.0,0.0,1.0,0.0
6,7.0,Dee's Tao - The Way Of An Anatomically Challen...,310100.0,9.0,8.0,78165,7,Andante,"Jun 29, 2000","['F/f', 'D/s', 'S/M', 'consensual', 'humiliati...",0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,2836.0,The Big Tease,57878.0,9.0,5.0,52692,1153,Tarrachus,"Sep 10, 2004","['MF/f', 'toys', 'BDSM', 'consensual', 'tortur...",0.0,0.0,1.0,0.0,1.0,0.0
2779,2839.0,Role Playing III - Raven and the Inquisitor,63374.0,9.0,5.0,21697,385,sarijak,"Sep 11, 2004","['F/f', 'f-self', 'bondage', 'romantic', 'tort...",0.0,0.0,1.0,0.0,0.0,1.0
2780,2840.0,Becky's Slave,338305.0,9.5,11.0,230771,630,Doug Young,"Sep 15, 2004",['F/m'],0.0,0.0,1.0,0.0,0.0,1.0
2783,2843.0,The Afternoon that Devastated my Life,75756.0,9.0,3.0,28278,1155,Sean Dunne,"Sep 15, 2004","['F/m', 'cbt', 'spanking', 'BDSM', 'latex', 'b...",0.0,0.0,1.0,0.0,0.0,1.0
2784,2844.0,A Working Day,48048.0,9.0,9.0,77681,1156,Abe Froman,"Sep 15, 2004","['F/m', 'F+/m', 'cbt', 'exhibition', 'toys', '...",0.0,0.0,1.0,0.0,0.0,1.0

In [820]:
fav_story_ids = [3160, 5357, 496, 10501, 9171, 491, 1241, 851, 10344, 24, 886]
#24 Captured Caroline
#491 Stacy's Senior Year 
#496 Dear Diary
#851 Teacher's Ransom
#886 Lady Jane Greystone's Remarkable Experiment
#1241 Two for Torment
#3160 Cheerleaders' Rape and Torture
#5357 From Society Girl To Slave
#9171 Lesbian Slave Auction II: Return to Stonebriar
#10344 European Nightmare
#10501 Sara the Puppy Girl

In [821]:
fav_story_ids

[3160, 5357, 496, 10501, 9171, 491, 1241, 851, 10344, 24, 886]

In [822]:
d = {'story_id': [], 'story_name': [], 'rating':[],'n_votes':[],'total_readers':[],'author_id':[],'author':[],'added_on':[], 'codes':[]}
for code in important_codes:
    d[code] = []
df = pd.DataFrame(d)
df.to_csv('fav_stories.csv', index=False)

In [823]:
delete_files('fav_stories')
for story_id in fav_story_ids:
    s = Story(story_id)
    story_id +=1
    if len(s.title) < 200:
        l = [s.id, s.title, s.rating, s.votes, s.total_readers, s.author_id, s.author, s.added_on, str(s.story_codes)]
        df.loc[df.shape[0]] = l+[getattr(s, code) for code in important_codes]
        s.save('fav_stories')
        df.to_csv('fav_stories.csv', index=False)

In [824]:
df = pd.read_csv('fav_stories.csv')

In [825]:
df['total'] = df.slavery + df.nc

In [826]:
df

,story_id,story_name,rating,n_votes,total_readers,author_id,author,added_on,codes,slavery,nc,torture,Serious,violent,humiliation,B/D,bestiality,D/s,Forced,total
0,3160.0,Cheerleaders' Rape and Torture,9.5,66.0,1775714,369,Semiater,"Jan 29, 2005","['M+/f+', 'bestiality', 'enema', 'fisting', 's...",1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0
1,5357.0,From Society Girl To Slave,8.0,9.0,96636,364,Anonymous,"Mar 27, 2007","['F+/f', 'enema', 'modification', 'toys', 'D/s...",1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,2.0
2,496.0,Parker 01: Dear Diary,9.5,7.0,35070,251,Parker,"Sep 17, 2001","['MF/f', 'D/s', 'slavery', 'reluctant', 'nc', ...",1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
3,10501.0,Sara the Puppy Girl,8.5,9.0,225870,4124,Lokker12,"Jun 22, 2014","['M/f', 'enema', 'modification', 'teen', 'toys...",1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0
4,9171.0,Lesbian Slave Auction II: Return to Stonebriar,7.5,8.0,255050,856,Jlou,"May 8, 2011","['F+/f+', 'incest', 'teen', 'TitTorture', 'BDS...",1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
5,491.0,Stacy's Senior Year,9.0,17.0,132275,251,Parker,"Sep 9, 2001","['MF/mf', 'teen', 'slavery', 'HighSchool', 'sl...",1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
6,1241.0,Two for Torment,10.0,8.0,236702,550,pamela,"Oct 13, 2002","['M/f', 'incest', 'B/D', 'S/M', 'torture', 'nc...",0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
7,851.0,Parker 21: Teacher's Ransom,9.0,4.0,51839,251,Parker,"Apr 1, 2002","['M/f', 'F/f', 'slavery', 'nc', 'Serious']",1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
8,10344.0,European Nightmare,9.0,3.0,145763,4051,JoshJones,"Sep 15, 2013","['M/f', 'M/f+', 'M+/f', 'M+/f+', 'F/f', 'F/f+'...",0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
9,24.0,Captured Caroline,9.5,28.0,190581,20,Quin,"Jul 7, 2000","['M/f', 'B/D', 'nc', 'Serious']",0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
10,886.0,Parker 23: Lady Jane Greystone's Remarkable Ex...,9.0,2.0,38015,251,Parker,"Apr 16, 2002","['M+/f', 'bestiality', 'slavery', 'historical'...",1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [742]:
df.codes

0     ['M+/f+', 'bestiality', 'enema', 'fisting', 's...
1     ['F+/f', 'enema', 'modification', 'toys', 'D/s...
2     ['MF/f', 'D/s', 'slavery', 'reluctant', 'nc', ...
3     ['M/f', 'enema', 'modification', 'teen', 'toys...
4     ['F+/f+', 'incest', 'teen', 'TitTorture', 'BDS...
5     ['MF/mf', 'teen', 'slavery', 'HighSchool', 'sl...
6     ['M/f', 'incest', 'B/D', 'S/M', 'torture', 'nc...
7            ['M/f', 'F/f', 'slavery', 'nc', 'Serious']
8     ['M/f', 'M/f+', 'M+/f', 'M+/f+', 'F/f', 'F/f+'...
9                       ['M/f', 'B/D', 'nc', 'Serious']
10    ['M+/f', 'bestiality', 'slavery', 'historical'...
Name: codes, dtype: object

In [771]:
l = []
for i in range(11):
    print(df.story_name[i],df.codes[i])

Cheerleaders' Rape and Torture ['M+/f+', 'bestiality', 'enema', 'fisting', 'spanking', 'teen', 'toys', 'WaterSport', 'BDSM', 'slavery', 'bondage', 'real', 'humiliation', 'torture', 'nc', 'Extreme']
From Society Girl To Slave ['F+/f', 'enema', 'modification', 'toys', 'D/s', 'B/D', 'BDSM', 'feet', 'latex', 'slavery', 'lingerie', 'bondage', 'chastitybelt', 'reluctant', 'humiliation', 'blackmail', 'torture', 'nc', 'Extreme', 'Serious', 'violent']
Parker 01: Dear Diary ['MF/f', 'D/s', 'slavery', 'reluctant', 'nc', 'Light']
Sara the Puppy Girl ['M/f', 'enema', 'modification', 'teen', 'toys', 'Swallowing', 'TitTorture', 'B/D', 'S/M', 'BDSM', 'latex', 'slavery', 'bondage', 'real', 'humiliation', 'torture', 'Forced', 'Heavy', 'violent']
Lesbian Slave Auction II:  Return to Stonebriar ['F+/f+', 'incest', 'teen', 'TitTorture', 'BDSM', 'latex', 'slavery', 'lingerie', 'bondage', 'chastitybelt', 'Rape', 'torture', 'nc', 'Forced', 'Extreme']
Stacy's Senior Year ['MF/mf', 'teen', 'slavery', 'HighSchool', 'slow', 'humiliation', 'blackmail', 'nc', 'Light', 'Hardcore']
Two for Torment ['M/f', 'incest', 'B/D', 'S/M', 'torture', 'nc', 'Heavy', 'violent']
Parker 21: Teacher's Ransom ['M/f', 'F/f', 'slavery', 'nc', 'Serious']
European Nightmare ['M/f', 'M/f+', 'M+/f', 'M+/f+', 'F/f', 'F/f+', 'MF/f', 'spanking', 'teen', 'toys', 'TitTorture', 'Rape', 'HighSchool', 'torture', 'nc', 'Forced', 'Heavy']
Captured Caroline ['M/f', 'B/D', 'nc', 'Serious']
Parker 23: Lady Jane Greystone's Remarkable Experiment ['M+/f', 'bestiality', 'slavery', 'historical', 'Serious']

In [755]:
df.codes[0]+df.codes[1]

"['M+/f+', 'bestiality', 'enema', 'fisting', 'spanking', 'teen', 'toys', 'WaterSport', 'BDSM', 'slavery', 'bondage', 'real', 'humiliation', 'torture', 'nc', 'Extreme']['F+/f', 'enema', 'modification', 'toys', 'D/s', 'B/D', 'BDSM', 'feet', 'latex', 'slavery', 'lingerie', 'bondage', 'chastitybelt', 'reluctant', 'humiliation', 'blackmail', 'torture', 'nc', 'Extreme', 'Serious', 'violent']"